@use '../abstracts' as *;

.productCard {
	max-width: 37.5rem;
	background: $color-white;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow: hidden;

	@include breakpointMobile(48rem) {
		flex-direction: row;
	}

	figure {
		@include breakpointMobile(48rem) {
			width: 50%;
		}

		img {
			@include breakpointMobile(48rem) {
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__content {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@include breakpointMobile(48rem) {
			width: 50%;
		}

		&-tag {
			color: $color-grey;
			text-transform: uppercase;
			font-size: 0.75rem;
			letter-spacing: 0.313rem;
		}

		h1 {
			color: $color-black;
			line-height: 1;
		}

		p {
			color: $color-grey;
			line-height: 1.6;
			font-weight: 500;
		}

		&-price {
			display: flex;
			align-items: center;
			gap: 1rem;

			/* @include breakpointMobile(48rem) {
				margin: calc(2rem - 1.5rem) 0;
			} */

			strong {
				font-family: 'Fraunces', serif;
				color: $color-green-500;
				font-size: 2rem;
				font-weight: 700;
			}

			del {
				color: $color-grey;
				font-size: 0.813rem;
				font-weight: 500;
				line-height: 1.2;
			}
		}

		button {
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			background: $color-green-500;
			color: $color-white;
			font-size: 0.875rem;
			font-weight: 700;
			padding: 1rem 2rem;
			border-radius: 0.5rem;
			cursor: pointer;

			@include breakpointMobile(61.938rem) /* 991px */ {
				transition: 0.3s;

				&:hover {
					background: $color-green-700;
				}
			}
		}
	}
}
