@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* @include breakpointMobile(991px) {
    width: 100%;
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  background: hsl(30, 38%, 92%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

main {
  display: block;
}

p {
  font-size: 0.875rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 6rem 1rem;
}

.productCard {
  max-width: 37.5rem;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .productCard {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .productCard figure {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .productCard figure img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.productCard__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .productCard__content {
    width: 50%;
  }
}
.productCard__content-tag {
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.313rem;
}
.productCard__content h1 {
  color: hsl(212, 21%, 14%);
}
.productCard__content p {
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
  font-weight: 500;
}
.productCard__content div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .productCard__content div {
    margin: 0.5rem 0;
  }
}
.productCard__content div strong {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: 700;
}
.productCard__content div del {
  color: hsl(228, 12%, 48%);
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.2;
}
.productCard__content button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media (min-width: 991px) {
  .productCard__content button {
    transition: 0.3s;
  }
  .productCard__content button:hover {
    background: hsl(158, 42%, 18%);
  }
}

footer {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
footer a {
  color: hsl(158, 36%, 37%);
}